* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
}

/* Pages */
@import "./pages/App.css";
@import "./pages/SideBar.css";
@import "./pages/Profile.css";

/* Components */
@import "./cmps/StoryPreview.css";
@import "./cmps/StoriesList.css";
@import "./cmps/LoginSignup.css";
@import "./cmps/LoginForm.css";
