.app-container {
	box-sizing: border-box;
	height: 100vh;
	display: grid;
	grid-template-columns: auto 1fr;
}

.contant-container {
    width: 100%;
    height: 100%;
}

.contant-container {
    /* margin-left: 245px; */
    width: 100%;
}

.contant {
	display: grid;
	place-content: center;
	height: 100vh;
}
