.app-container {
	box-sizing: border-box;
	height: 100vh;
	display: grid;
	overflow-y: auto;
	background: #fff;
	grid-template-columns: 245px minmax(1013px, 1fr);
}

.content-container {
	width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.contant {
	display: grid;
	place-content: center;
	height: 100vh;
}
