.sidebar-container {
    display: flex;
    flex-direction: column;
    /* width: 250px; */
    height: 100vh;
    background: white;
    border-right: 1px solid #ddd;
    /* position: fixed; */
    top: 0;
    left: 0;
    padding: 10px;
}

.user-info {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #f0f0f0;
}
